.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}










body {
    max-width: 1440px;
    margin: 0 auto;
    border: 2px solid red;
}

/* shared  */
.padding {
    padding: 87px 120px 50px 120px;

}



.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: semiBold;
    border: 2px solid;
    margin-top: 96px;
    gap: 50px;
}

.nav-right {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.header-section {
    display: flex;
    justify-content: space-between;
}

.header-text {
    align-content: center;
    max-width: 582px;

}

.header-text h4 {
    font-weight: bold;
    font-size: 52px;
    color: #3A3A3A;
    gap: 0px;
}

.header-text p {
    font-size: 16px;
    font-weight: 500;
    color: #3A3A3A;
}

.header-btn {
    background-color: #E02C6D;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.header-image {
    width: 500px;
    height: 500px;
    background-color: #FFF8F3;
    background-image: url("images/Circle-design.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-card {
    border: 2px solid blue;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 196px;
    margin-right: 196px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
   


}

.shop-site {
    display: flex;
    flex-wrap: wrap;
    gap: 60.2px;

}

.popular-collection-card{
    margin: 31px;
}
.popular-collection-card h2 {
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
   


}

.all-product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);


}

.product-card {
    padding: 14px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    gap: 50px;

}

.product-image img {
    width: 100%;
    border-radius: 8px;
}

.product-title {
    font-size: 28px;
    margin: 10px 0 5px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.price {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
}

.rating {
    color: #ff9800;
    font-size: 14px;
}

.rating span {
    color: #000;
    margin-left: 5px;
}

.info {
    font-size: 13px;
    color: gray;
    margin: 3px 0;
}

.seemorebtn {
    display: flex;
    justify-items: left;
    justify-content: left;
   text-align: left;
   border:2px solid #000;
   max-width: 200px;
  
}

.seemorebtn h5 {
    margin: 0;         
    padding: 10px;
    display: flex;       
    align-items: center; 
}

.seemorebtn h5 img {
    margin-left: 5px;  
}
.last-sec{
    display: flex;
    /* flex-wrap: wrap; */
    align-content: space-between;
    align-items: center;
    gap: 100px; 
    border: 2px solid;
    

}
.last-sec p{
    max-width: 500px;
    font-size: 16px;

}
.last-sec h3{
    font-size: 38px;
    font-weight: 700;
}
.last-txt{
    margin-left: 100px;
}
.footer{
      background-color: #0f0f2c; 
    color: #fff;
    text-align: center;
    padding: 40px 20px;

}
.footer h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.footer p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.5;
}
.social-icons{
    filter: grayscale(100%);
}
.footer .social-icons a {
    display: inline-block;
    margin: 0 8px;
    transition: transform 0.3s;
}

.footer .social-icons a img {
    width: 25px;
    height: 25px;
}

.footer .social-icons a:hover {
    transform: scale(1.2);
}